/*******************************************************all**************************************************/

.custome-main {
    max-width: 1000px;
    margin: auto;
}

.custome-header {

    padding-top: 0px;
    padding-bottom: 90px;
}


/*********************************************************end***************************************************/

/*******************************************inside galary********************************************* */
/* Center website */

.custome-gallery-item img {
    height: 250px;
    width: 300px
}

/***************************************************end**********************************************************/


/*********************************************GAllery*************************************************************/


.contain-custome {
    position: relative;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    border-radius: 10px;
}

.custome-image {
    display: block;
    width: 350px;
    height: 250px;
}


.custome-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.contain-custome:hover .custome-overlay {
    opacity: 1;
}

.text-custome {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


/*************************************************************end**********************************************/

/*******************************************************post blade.php********************************************/

.card-img-top-custome {
    height: 250px;
    width: 400px;

}

.card-custome {
    box-shadow: 0 0 10px;
}

/************************************************************end********************************************************/


/*-------------------------------------------------------signup.blade.php-----------------------------------------------*/

.bg-black {
    background-color: #000000;
}

.color-white {
    color: white;
}

.color-red {
    color: red;

}

.font-style-italic {
    font-style: italic;
}

/*-----------------------------------------------------------------end--------------------------------------------------*/

/*****************************************************************login.blade.php****************************************************/


.size-16 {
    font-size: 16px;
}

/***************************************************************ebd***********************************************************/
